.header {
  text-align: center;
  width:100%;
  font-size:small;
}

body{
  background-color:	antiquewhite;
}
.cards {
  position: relative;
}

.card {
	position: absolute;
}

img {
  height: 300px;
  width: 1000px;
}

.title{
  height: 70px;
  width: 200px;
}
