.header {
  text-align: center;
}

.cards {
  position: relative;
  
  /* TODO 中央ぞろえ */
}

.card {
	position: absolute;
	top: 0px;
	left: 0px;

  /* TODO スマホサイズにする */
  height: 1000px;
  width: 1000px;

	padding: 10px;
	background-color: orange;
}

.tinderCard {
	background-color: white;
  color: black;
}
